#juego {
	opacity: 0.3;
	width: 600px;
	height: 600px;
	margin-left: 370px;
}

table {
	width: 100%;
	height: 100%;
}

td {
	width: 25%;
	background-color: black;
	border: 3px solid black;
	border-radius: 5px;
}

.letra {
	color: white;
	font-size: 40px;
	text-align: center;
	font-size: italic;
}

input {
	width: 90px;
	height: 30px;
}

.centrar {
	text-align: center;
}